<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>  New App: Django HTML5 Boilerplate | Arruda
</title>
  <link rel="canonical" href="https://arruda.github.io/django/new-app-django-html5-boilerplate.html">

    <link rel="apple-touch-icon" href="https://arruda.github.io/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="https://arruda.github.io/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://arruda.github.io/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://arruda.github.io/manifest.json">
    <meta name="theme-color" content="#333333">

  <link rel="stylesheet" href="https://arruda.github.io/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://arruda.github.io/theme/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://arruda.github.io/theme/css/pygments/monokai.min.css">
  <link rel="stylesheet" href="https://arruda.github.io/theme/css/theme.css">

  <link rel="alternate" type="application/atom+xml" title="Full Atom Feed"
        href="https://arruda.github.io/feeds/all.atom.xml">
  
  <meta name="description" content="Hi there, and a late Happy Merry Christmas for all of you! So, you may wonder what I did in this great time of the year, and the answer is: A new Django app. Django-H5BP This is a reusable Django app that is very simple and helps a lot. The …">


</head>

<body>
  <header class="header">
    <div class="container">
<div class="row">
    <div class="col-sm-4">
      <a href="https://arruda.github.io/">
        <img class="img-fluid rounded" src=https://arruda.github.io/images/logo.png alt="Arruda">
      </a>
    </div>
  <div class="col-sm-8">
    <h1 class="title"><a href="https://arruda.github.io/">Arruda</a></h1>
      <p class="text-muted">Um Blog Sobre Tecnologia, Informação, Literatura e Coisas da Vida</p>
      <ul class="list-inline">
            <li class="list-inline-item"><a href="https://arruda.github.io/pages/projetos.html">Projetos</a></li>
            <li class="list-inline-item"><a href="https://arruda.github.io/pages/sobre.html">Sobre</a></li>
      </ul>
  </div>
</div>    </div>
  </header>

  <div class="main">
    <div class="container">
      <h1>  New App: Django HTML5 Boilerplate
</h1>
      <hr>
  <article class="article">
    <header>
      <ul class="list-inline">
        <li class="list-inline-item text-muted" title="2013-12-27T06:06:00+00:00">
          <i class="fa fa-clock-o"></i>
          Fri 27 December 2013
        </li>
        <li class="list-inline-item">
          <i class="fa fa-folder-open-o"></i>
          <a href="https://arruda.github.io/category/django.html">Django</a>
        </li>
          <li class="list-inline-item">
            <i class="fa fa-user-o"></i>
              <a href="https://arruda.github.io/author/arruda.html">arruda</a>          </li>
          <li class="list-inline-item">
            <i class="fa fa-files-o"></i>
              <a href="https://arruda.github.io/tag/app.html">#app</a>,               <a href="https://arruda.github.io/tag/boilerplate.html">#boilerplate</a>,               <a href="https://arruda.github.io/tag/django.html">#Django</a>,               <a href="https://arruda.github.io/tag/django-h5bp.html">#django-h5bp</a>,               <a href="https://arruda.github.io/tag/h5bp.html">#h5bp</a>,               <a href="https://arruda.github.io/tag/html5.html">#html5</a>,               <a href="https://arruda.github.io/tag/template.html">#template</a>          </li>
      </ul>
    </header>
    <div class="content">
      <p>Hi there, and a late <strong>Happy Merry Christmas</strong> for all of you!</p>
<p>So, you may wonder what I did in this great time of the year, and the answer is: <strong>A new Django app.</strong></p>
<h2>Django-H5BP</h2>
<p>This is a <strong>reusable</strong> Django app that is <strong>very simple</strong> and helps a lot.</p>
<p>The idea is that instead you grab the HTML5 boilerplate and make it fit your new project base template, for every project, you just install this app, extend it's predefined HTML5 Boilerplate template and change the blocks that you want to.
:${IMAGE_TAG}</p>
<h3>Installing</h3>
<p>Very simple, just use pip:</p>
<p>``` {lang="shell"}
$ pip install django-h5bp</p>
<div class="highlight"><pre><span></span>Then inside yours project **'installed\_apps'** settings:

``` {lang="python"}
INSTALLED_APPS = (
    ...
    'django_h5bp',
)
</pre></div>
<h3>Using it!</h3>
<p>Now that you have it installed in your project, you just need to <strong>extend</strong> the
<strong>'h5bp.html'</strong> template in your <strong>base</strong> template, just changing the blocks that you want.
Here is a <strong>simple example</strong> for your <strong>"base.html"</strong> template:</p>
<p>``` {lang="html"}
{% raw %}{% extends "h5bp.html" %}</p>
<p>{% block page-title %}My Great Project{% endblock %}</p>
<p _="%" endblock="">{% block header %}
    Here is my page header</p>
<p>{% block main-container %}</p>
<div class="highlight"><pre><span></span><span class="err">    Hello World!</span>
</pre></div>
<p>{% endblock %}</p>
<p>{% block footer %}
    Footer
{% endblock %}{% endraw %}
```</p>
<h2>What else?</h2>
<h3>Static Files</h3>
<p>The default HTML5 boilerplate static files (js, css) are also included and using the <strong>{{ STATIC_URL }}</strong> instead of a fixed path.</p>
<p>But the HTML5 boilerplate's <strong>default "favicon.ico"</strong> file is <strong>not present</strong>, since it would override yours depending on the position that you set this app in the "installed_app" list, so I removed it. This way you just need to put your <strong>own favicon.ico</strong> that it will already be loaded in the template.</p>
<h3>404 Page</h3>
<p>I also added the <strong>default 404.html</strong> page to the project, but this one <strong>has no template blocks</strong>, just the original HTML5 Boilerplate 404 page.</p>
<h3>Template Blocks</h3>
<p>There are some template blocks predefined to help you customize your page with lesser work, there are blocks for meta tags like <strong>"title" and "description"</strong>, for <strong>Jquery.Document.Ready</strong> section, <strong>google analytics</strong> and more!
You can checkout the full list here:
<a href="https://github.com/arruda/django-h5bp#h5bp-template-blocks" title="Django-H5BP template blocks">Django-H5BP Template Blocks</a></p>
<h2>Contributing</h2>
<p>If you find something interesting, or some bug, or juts want to say hello to the code, here is the github repository:
<a href="https://github.com/arruda/django-h5bp" title="Django H5BP Repository">Django H5BP Repository</a>.</p>
<p>That's all folks,
and a <strong>happy new year</strong>!</p>
    </div>
  </article>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
<div class="row">
  <ul class="col-sm-6 list-inline">
      <li class="list-inline-item"><a href="https://arruda.github.io/authors.html">Authors</a></li>
    <li class="list-inline-item"><a href="https://arruda.github.io/archives.html">Archives</a></li>
    <li class="list-inline-item"><a href="https://arruda.github.io/categories.html">Categories</a></li>
      <li class="list-inline-item"><a href="https://arruda.github.io/tags.html">Tags</a></li>
  </ul>
  <p class="col-sm-6 text-sm-right text-muted">
    Generated by <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
    / <a href="https://github.com/nairobilug/pelican-alchemy" target="_blank">&#x2728;</a>
  </p>
</div>    </div>
  </footer>
</body>

</html>